.ProductStandards-container {
  padding: 2rem;
  background-color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.ProductStandards-title {

  text-align: center;
    font-size: 2.3em;
    color: #003873;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 1em;
    font-style: normal;
}

.ProductStandards-subtitle {
  font-size: 2rem;
  color: #003873;
  padding: 10px;
}

.ProductStandards-paragraph {
  font-size: 0.95rem;
  max-width: 1000px;
  margin: 0 auto 2rem auto;
  line-height: 1.7em;
  color: #344ea1;
}

.ProductStandards-button {
  background-color: #003873;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.3s;
}

.ProductStandards-button:hover {
  background-color: #003873;
}

.ProductStandards-imageRow {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.ProductStandards-image {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.ProductStandards-grid {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.ProductStandards-item {
  text-align: center;
}

.ProductStandards-gridImage {
width: 180px;
  height: 150px;
  object-fit: cover;
  display: block; 
  border: 2px solid #ccc;
  border-radius: 8px;
}
.ProductStandards-sampletitle{
  color: #003873;
  font-weight: 300;
  font-size: 1.5em;
  padding: 20px;
}

.ProductStandards-imageTitle {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #003873;
}

@media (max-width: 768px) {
  .ProductStandards-container {
    padding: 1rem;
  }

  .ProductStandards-title,
  .ProductStandards-subtitle {
    font-size: 1.6em;
    padding: 0.5em;
  }

  .ProductStandards-paragraph {
    font-size: 0.9rem;
    padding: 0 1rem;
    text-align: justify;
  }

  .ProductStandards-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
  }

  .ProductStandards-imageRow {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .ProductStandards-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .ProductStandards-grid {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .ProductStandards-gridImage {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .ProductStandards-imageTitle {
    font-size: 1rem;
  }
}
