.product-standard-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    overflow-x: hidden;
}
.product-standard-title {
   padding: 1em 0 .5em 0;
    text-align: center;
    font-size: 3em;
    color: #344ea1;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

.product-standard-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 30px;
}

.product-standard-box {
    flex: 1;
    max-width: 30%;
    padding: 0;
    border: 1px solid #344ea1;
}

.product-standard-box-image {
    width: 45%;
    height: auto;
}
/* Paragraph.css */

.product-containerparagraph {
    width: 100%;
    background-color:#f1f2f2 ;
    margin: 0 auto;
    padding: 1em;
  }
  
  .product-standparagraphtext {
    text-align: center;
    padding: 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #003873;
    font-size: 1.1em;
    line-height: 2em;
  }
  .Product-standards{
    text-align: center; 
    font-size: 2.5em;
    color: #344ea1;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    padding: 0.5em;
    font-style: normal;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 600px) {
    .product-containerparagraph {
      width: 100%;
      padding: 10px;
    }
  
    .product-standparagraphtext {
      font-size: 1em; /* Adjust font size if needed */
      padding: 10px;
      text-align: justify;
    }
  }
  


@media (max-width: 768px) {
    .product-standard-box {
        max-width: 100%;
    }
    .Product-standards{
      font-size: 2em;
    }
    .product-standparagraphtext {
      font-size: 1.1em; 
      padding: 10px;
    }
}
