/* Main container styling */
.carouselContainer {
    width: 100%;
    position: relative;
    margin-bottom: 2em;
}

/* Carousel slide styling */
.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
}

/* Image styling */
.carousel-image {
    width: 100%;
    height: auto; 
    object-fit: cover;
}


.ant-carousel .slick-dots li {
    background-color: #ccc;
}

.ant-carousel .slick-dots li.slick-active {
    background: #00aeef;
}

.ant-carousel .slick-dots li.slick-active button {
    background: #00aeef;
}
.homeBanner{
    position: relative;
}
.homeBanner .homeButton{
position: absolute;
display: flex;
width: max-content;
gap: 1em;
left: 5%;
bottom: 10%;
}
@media (max-width: 800px) {
    
    .carousel-slide {
        height: auto;
    }

    .carousel-image {
        width: 100%; 
        height: auto; 
    }
    .homeBanner .homeButton{
      display: none;
        }
   
}

@media (max-width: 500px) {
    .carousel-image {
        width: 100%;
        height: auto; 
        object-fit: cover; 
    }

    .ant-carousel .slick-dots {
        display: none !important;
    }
}
