.ProductBlogs-Total {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
    overflow-x: hidden;
  background-color: #fff;
}

.ProductBlogs-title {
  margin-bottom: 20px;
  font-size: 3em; 
  color: #003873;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.ProductBlogs-cards {
  display: flex;
  justify-content: space-between; /* Ensures space is evenly distributed */
  flex-wrap: wrap;
}

.ProductBlogs-card {
  border-radius: 8px;
  padding: 20px;
  text-align: left; /* Ensures text is aligned left */
  width: 23%; /* Adjusted to fit four cards in a row */
  margin: 10px 0;
  box-sizing: border-box;
}

.ProductBlogs-card-image {
  max-width: 100%;
  border-radius: 4px;
}

.ProductBlogs-card-title {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: #093e77;
  text-align: justify;
}

.ProductBlogs-card-text {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1em;
  color: #344ea1;
  text-align: justify;

  margin-bottom: 30px;
}

.ProductBlogs-card-button {
  padding: 10px 40px;
}

@media (max-width: 768px) {
  .ProductBlogs-cards {
    flex-direction: column;
    align-items: center;
  }

  .ProductBlogs-card {
    width: 100%;
    text-align: center; /* Ensures text is centered */
  }

  .ProductBlogs-title {
    font-size: 2em; 
  }

  .ProductBlogs-card-text {
    line-height: 1.5em;
    font-size: 0.8em; 
  }

  .ProductBlogs-card-title {
    line-height: 1.5em;
    font-size: 1em; 
  }

  .ProductBlogs-card-button {
    font-size: small;
    padding: 10px 40px;
  }
}
