.homeblog-btn {
  padding: 10px 20px; 
  margin-top: 5px;
  align-self: flex-start; 
}

.homeblog-btn1 {
  padding: 10px 20px; 
  align-self: flex-start; 
}

.homeblog-pg {
  border: 1px solid #f1f2f2;
  /* background-color: #f1f2f2; */
  width: 100%;
  min-height: auto; 
  overflow: auto; 
  margin-bottom: 20px;
}

.Home-blogtitle h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
  font-size: 2.5em;
  color: #003873;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.homeblog-component-container {
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
  gap: 40px;
  margin-top: 50px;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 1150px; 
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap; 
}

.homeblog-left-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  overflow: hidden;
}

.homeblog-merged-box {
  width: 100%;
  background-color: #f1f2f2;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
}

.homeblog-full-image {
  width: 100%;
  max-height: 700px; 
  object-fit: contain;
  border-radius: 15px;
}

.homeblog-box-content {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;;
}
.homeblog-left-column .homeblog-box-content {
  /* height: 720px; */
  align-items: flex-start;
  justify-content: flex-start;
}
.homeblog-box-content h4 {
  margin: 0 0 10px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #003873;
  font-size: 1.3em;
  text-align: justify; 
}

.homeblog-box-content p {
  margin: 0;
  text-align: justify; 
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #344ea1;
  font-size: 1.1em;
}

.homeblog-right-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  overflow: hidden;
}

.homeblog-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f2f2;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: auto;
}

.homeblog-box-image {
  width: 100%;
  height: 222px; 
  object-fit:cover;
  border-radius: 15px;
  margin-bottom: 10px;
}

.homeblog-box-content h6 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #003873;
  text-align: justify; 
  margin-top: 0px;
}

.homeblog-box-content p {
  margin: 0;
  font-size: 1.1em;
  text-align: justify; 
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #344ea1;
}

@media (max-width: 968px) {
  .Home-blogtitle h1 {
    font-size: 1.7em;
  }
  .homeblog-component-container {
    flex-wrap: wrap; 
  }

  .homeblog-left-column, .homeblog-right-column {
    width: 100%; 
  }

  .homeblog-left-column {
    order: 1; 
  }

  .homeblog-right-column {
    order: 2; 
  }

  .homeblog-full-image {
    width: 100%;
    border-radius: 15px;
    max-height: 400px;
    object-fit: contain;
    display: block; 
    margin: 0 auto; 
  }
  .homeblog-box-image {
    object-fit: contain;
    border-radius: 20px !important;

  }


  .homeblog-box-content h4, .homeblog-box-content p {
    text-align: justify; 
  }

  .homeblog-btn, .homeblog-btn1 {
    align-self: center; 
  }
}

@media (max-width: 480px) {
  .homeblog-full-image {
    max-height: 350px;
    object-fit: cover;
  }

  .homeblog-box-content h4 {
    font-size: 1.2em;
  }

  .homeblog-box-content p {
    font-size: 1em;
  }

  .homeblog-box-image {
    height: 200px;
    object-fit: cover;
  }

  .homeblog-box-content h6 {
    font-size: 1em;
    margin-top: 10px;

  }

  .homeblog-box-content p {
    font-size: 0.9em;
  }
}

@media (min-width: 1600px) {

.homeblog-component-container {
  gap: 40px;
  max-width: 1200px; 
}

.homeblog-left-column {
  width: 55%;
  gap: 20px;
}

.homeblog-merged-box {
  padding: 35px;
  gap: 50px;
}

.homeblog-full-image {
  max-height: 900px; 
}

.homeblog-right-column {
  width: 45%;
  gap: 15px;
}

.homeblog-box {
  padding: 25px;
  min-height: 415px;
}

.homeblog-box-image {
  height: 250px; 
}
}



