.productcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 height: auto;
}

.productcase-title {
  padding: 2em;
  text-align: center; 
  font-size: 2.5em;
  color: #344ea1;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.productcase-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1f2f2;
  border-radius: 8px;
  padding: 16px;
  max-width: 1000px;
}

.productcase-card-left {
  flex: 1;
}

.productcase-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.productcase-card-right {
  flex: 1;
  padding-left: 25px;
}

.productcase-card-title {
  line-height: 1.5em;
  font-style: normal;
  color: #003873;
  font-size: 1.5em;
  text-align: justify;
}

.productcase-card-paragraph {
  line-height: 1.5em;
  font-style: normal;
  color: #344ea1;
  font-size: 1.2em;
  text-align: justify;
}

/* Responsive Design */
@media (max-width: 768px) {
  .productcase-card {
    flex-direction: column;
  }
  .productcase-title {
    padding: 1em;
  }
  .productcase-card-right {
    padding-left: 0;
    padding-top: 16px;
    text-align: center;
  }
  .productcase-card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* border-radius: 8px; */
  }
  .productcase-card-title {
    font-size: 1em;
  }

  .productcase-card-paragraph {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .productcase-card-title {
    font-size: 1em;
  }

  .productcase-card-paragraph {
    font-size: 1em;
  }
}
