.containerparagraph {
  width: 100%;
  background-color:#f1f2f2 ;
  margin: 0 auto;
}

.paragraphtext {
  text-align: center;
  padding: 3.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #003873;
  font-size: 1.1em;
  line-height: 2em;
}

@media (max-width: 600px) {
  .containerparagraph {
    width: 100%;
    padding: 10px;
  }

  .paragraphtext {
    font-size: medium; 
    padding: 10px;
    text-align: justify;
  }
}
